.slider-container{
    width: 100%;
    height: 80vh;
    display: flex;   
}


.review-line1-parent{
    width: 100%;
    height: 40vh;
    display: flex;
    /* margin-right: 100px; */
    align-items: flex-start;
    overflow: hidden;
    justify-content: space-between;
}

.review-line1{
    width: 100%;
    height: 40vh;
    display: flex;
    /* justify-content:flex-start; */
    justify-content: space-between;
}