.card-note {
  flex: 0 0 calc(25% - 20px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  position: relative;
}

.sub-card-note-1 {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card-note-title h6,
.card-note-clock h6 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 10px;
}

.card-note-title {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5px;
}

.note-rename {
  background-color: inherit;
  border: none;
  outline: none;
  color: #000000;
  font-weight: 550;
}

.sub-card-note-2 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 70%;
}

.card-note-desc {
  width: 83%;
  position: absolute;
  z-index: 1;
  color: rgba(0, 0, 0, 0.7);
}

.note-dropdown {
  width: 50%;
  position: absolute;
  z-index: 3;
}

.sub-card-note-3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-note-clock {
  width: 100%;
  align-items: flex-end;
  display: flex;
  gap: 3px;
}

.card-note-clock h6 {
  margin-bottom: 0.5px;
}

.three-dots-ver {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.three-dots-ver img {
  width: 13px;
  height: 23px;
  margin-top: 11px;
  cursor: pointer;
}

.arrow-icon-note {
  position: absolute;
  top: -6%;
  left: -4.5%;
}

.tooltip {
  position: absolute;
  top: 3%;
  left: -5%;
  width: 15%;
  z-index: 5;
  padding: 2px 3px;
  background-color: rgba(56, 56, 56, 0.75);
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip-text {
  font-size: 10px;
}
