.note-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
  height: 5%;
  border-bottom: 2px solid rgba(217, 217, 217, 0.773);
  -webkit-box-shadow: 0px 1px 4px 1px rgba(0, 169, 255, 0.2);
  -moz-box-shadow: 0px 1px 4px 1px rgba(0, 169, 255, 0.2);
  box-shadow: 0px 1px 4px 1px rgba(0, 169, 255, 0.2);
  position: relative;
  top: 0;
  z-index: 2;
}

.sub-note-navbar-1 {
  display: flex;
  gap: 3px;
  margin-left: 30px;
}

.sub-note-navbar-2 {
  display: flex;
  gap: 20px;
  margin-right: 30px;
}

.navbar-threedots {
  display: flex;
  flex-direction: column;
}

.navbar-threedots img {
  height: 23px;
  cursor: pointer;
}

.navbar-dropdown {
  background-color: #f9f9fe;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 90%;
  right: 1.3%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 169, 255, 0.19);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 169, 255, 0.19);
  box-shadow: 0px 0px 5px 0px rgba(0, 169, 255, 0.19);
}

.navbar-dd-h6 {
  padding: 5px 10.5px 5px 11px;
  cursor: pointer;
}

.navbar-dd-h6:hover {
  background-color: rgba(219, 229, 255, 0.704);
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}
