.sixth-div{
    width: 100%; /* 100% of the viewport width */
    height: 30vh; /* 100% of the viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
}

.texts-1{
    width: 9%;
    height: 10%;
    background-color: #E7F1FB;
    color :#4080dd;
    border-radius: 40px;
    font-size: 21px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.testimonial-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texts-2{
    
    font-size: 40px;
    font-weight: 500;
    color:#000000; 
    display: flex;
}

.texts-3{
   
    font-size: 40px;
    font-weight: 500;
    color:#000000;
    display: flex;
}
