.noteHeading {
  display: flex;
  width: 100%;
  height: 40%;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  padding-left: 50px;
  margin-top: 40px;
}

.noteHeading span {
  font-size: 25px;
}
