
.noteHeading {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    padding-left: 70px;
}
  
  .noteHeading span {
    font-size: 25px;
  }
  