.add-to-topic {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  gap: 20px;
}

.add-to-topic p {
  text-align: center;
  line-height: 1.5;
}

.add-to-topic button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: inherit;
  border: 2px solid #a8a8a8b2;
  border-radius: 5px;
  padding: 10px 15px;
}

.add-to-topic button:hover {
  background-color: white;
  cursor: pointer;
}
