.footer-div{
   width: 100%;
   height: 80vh;
   display: flex;
   align-items: flex-end;
  
}

.footer-img-div{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background: linear-gradient(to top, rgba(18, 28, 63, 1) 50%, #ffffff 50%);
 }

.footer-img{
    object-fit: contain;
    width: 70%; 
    height: auto;
    /* position: relative; */
    
}

.footer-button-container{
    width: 100%;
    height: 42px;
    display: flex;
    position: absolute;
    top:200px;
    z-index: 1;
    /* top: 100px; */
} 

.footer-button{
   width: 153px;
   height: 42px;
   background-color: rgba(187, 226, 236, 1);
   display: flex;
   align-items: center;
   justify-content: center;
   /* padding: 9px 12px; */
   gap: 0px;
   border: none;
   border-radius: 112px;
   position: absolute;
   color: rgba(0, 0, 0, 1);
   font-size: 18px;
   font-family: 500;
   line-height: 21.94px;
   /* left: 0; */
   left: 300px;
   cursor: pointer;
  
}




