
.profile-middle{
    display: flex;
    align-items: center;
    width: 83.5%;
    height: 90.5vh;
    position: relative;
    overflow: hidden;
}
.profileMiddle-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #FBFCFE;
    transition: all 0.4s ease;
}

.profileMiddle-container h2{
    font-size: 1.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.profileMiddle-extra{
    display: flex;
    width: 27%;
    height: 100%;
    background: rgb(231,241,251);
    background: linear-gradient(90deg, rgba(231,241,251,0.8) 35%, rgba(255,255,255,0.8) 100%);
    position: absolute;
    right:-24%;
    z-index: 2;
    transition: all 0.4s ease;
}
