.send-message{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 5px;
    padding: 0 5px;
}
.send-message .msg-input{
    width: 90%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding:0 10px;
    border-radius: 10px;
    outline: none;
    border: 2px solid rgba(217, 217, 217, 0.773);
    background-color: white;
}

.msg-input input{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    outline: none;
}

.msg-input span{
    cursor: pointer;
    margin-top: 5px;
    color: gray;
}

.send-message button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.send-message .send-btn{
    width: 40px;
    height: 40px;
    background-color: #009AFF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    border-radius: 50%;
}
.send-message .send-btn:hover{
    background-color: rgb(93, 189, 253);
}