.slider-container {
  position: relative;
  top: 0px;
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.slider-wrapper {
  width: 500vw;
  height: 100%;
  transition: transform 0.5s ease;
  display: flex;
  justify-content: center; 
}

.slide {
  width: 155vw;
  height: 415px;
}

.prev-button,
.next-button {
  position: absolute;
  top: 43%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 1px 2px 1px;
  background-color: #002f47;
  border: none;
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
}

.prev-button {
  left: 142px;
}

.next-button {
  right: 130.5px;
}

.prev-button:hover,
.next-button:hover {
  background-color: #006ea4;
}


