.community-details{
    background-color: white;
    width: 27%;
    height: 100%;
    position: absolute;
    right: -350px;
    top: 0;
    border-left: 2px solid rgba(217, 217, 217, 0.773);
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.communityD-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    border-bottom: 2px solid rgba(217, 217, 217, 0.773);
    font-size: 18px;
}

.community-details-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: grey;
}
.community-details-button:hover{
    background-color: #00aaff28;
    color: rgb(95, 95, 95);
}
.communityD-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    gap: 15px;
    border-bottom: 2px solid rgba(217, 217, 217, 0.773);
    position: relative;
}
.community-backIcon{
    position: absolute;
    top: 10%;
    left: 5%;
    color: rgb(189, 189, 189);
    cursor: pointer;
}
.communityD-about{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-between;
    border-bottom: 2px solid rgba(217, 217, 217, 0.773);
    padding: 15px;
    gap: 8px;
    width: 100%;
    overflow: hidden;
    transition: all 0.3s ease;
}
.communityD-about p{
    color: rgba(0, 0, 0, 0.707);
    font-size: 14px;
    padding-right: 25px;
}
.community-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px 12px 15px;
    border-bottom: 2px solid rgba(217, 217, 217, 0.773);
    overflow: hidden;
    transition: all 0.2s ease;
}
.community-link span{
    color: #00A9FF;
    cursor: pointer;
    font-size: 12px;
}
.communityD-members .members-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px 8px 15px;
    border-bottom: 2px solid rgba(217, 217, 217, 0.773);
    cursor: pointer;
}
.members-header .members-count{
    position: relative;   
}
.members-header span{
    color: #00A9FF;
    font-size: 9px;
    position: absolute;
    top: 23%;
    right: 12%;
}
.communityD-memberlist{
    height: 58vh;
    overflow: scroll;
    scrollbar-width: none;
}
.communityD-memberlist .com-member{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
}
.communityD-memberlist .com-member:hover{
    background-color: #F2FBFF;
    cursor: pointer;
}