@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight:500;
}

/* Hide scrollbar buttons (arrows) */
::-webkit-scrollbar-button {
    display: none;
  }
  
  /* Customize the scrollbar track, thumb, etc. */
  ::-webkit-scrollbar {
    width: 5px; /* Adjust as needed */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Or any color you prefer */
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.219); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Radius of the scrollbar thumb */
  }
  