.settingsmiddle {
  display: flex;
  align-items: center;
  width: 83.5%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.settingsMiddle-container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #fbfcfe;
}

.settingsmiddle .left-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  height: 100%;
}

.accInfo-span {
  font-size: 24px;
  background-color: rgba(217, 217, 217, 1);
  border: none;
  border-radius: 6px;
  padding: 1% 2%;
  margin-top: 7%;
  margin-bottom: 17%;
}

.settingsmiddle .right-container {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  width: 70%;
  height: 100%;
  /* background-color: grey; */
}

.fr-pwd {
  position: absolute;
  color: rgb(126, 126, 126);
  z-index: 1;
  font-size: 13px;
  right: 11%;
  top: 23%;
}

.fr-pwd:hover{
  cursor: pointer;
  text-decoration: underline;
}

.right-container-content {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: column;
  width: 90%;
  height: 85%;
  /* background-color: plum; */
}

.right-r2,
.right-r3,
.right-r1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 16%;
}

.right-r2-inputs,
.right-r3-inputs,
.right-r1-inputs{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: 50%;
}

.input-error{
  background-color:#fbdada !important;
  border: red solid 1px !important;
}

.right-r2-spans,
.right-r3-spans,
.right-r1-spans{
  display: flex;
  visibility: hidden;
  justify-content: flex-start;
  padding: 0.5%;
  width: 87%;
  height: 20%;
  font-size: 0.7rem;
  color: red;
}

.c-pass-invalid{
  margin-left: 43%;
}
.n-pas-invalid{
  margin-left: 47%;
}
.co-pas-invalid{
  margin-left: 39%;

}

.right-r5{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 12%;
  margin-bottom: 10%;
}

.right-r4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 94%;
  overflow: hidden;
}

.bio-invalid{
  display: flex;
  visibility: hidden;
  padding: 0.5%;
  font-size: 0.7rem;
    color: red;
}

.uname-input,
.copass-input,
.phno-input,
.npass-input,
.email-input,
.cpass-input{
  background-color: rgba(0, 0, 0, 0.05);
  width: 35%;
  height: 100%;
  border: rgba(0, 0, 0, 0.2) 0.75px solid;
  outline: none;
  padding: 0 1%;
  border-radius: 6px;
  text-align: left;
}

.editpop{
  display: flex;  
  width: 14vw;
  justify-content: space-around;
  align-items: center;
  height: 8%;
  padding: 0 1%;
  margin-top: 2%;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0,169,255,0.2);
-moz-box-shadow: 1px 1px 4px 0px rgba(0,169,255,0.2);
box-shadow: 1px 1px 4px 0px rgba(0,169,255,0.2);
}

.editcl1,
.editcl2,
.editcl3,
.editcl4,
.editcl5,
.editcl6,
.editcl7{
  display: flex;
  width: 12%;
  height: 50%;
  border:#E7F1FB 1px solid;
  border-radius: 40px;
  cursor: pointer;
}

.clicked{
  display: flex;
  width: 12%;
  height: 50%;
  border:#959595 1px solid;
  border-radius: 40px;
  cursor: pointer;
}
.sub-colour-dropdown {
  width: 12%;
  height: 65%;
  box-sizing: border-box;
  border-radius: 50%;
}

.acc-info-Bioinput {
  background-color: rgba(0, 0, 0, 0.05);
  border: rgba(0, 0, 0, 0.2) 0.75px solid;
  outline: none;
  width: 91%;
  padding: 2% 1%;
  margin-top: 1%;
  border-radius: 6px;
  resize: none;
}

.r5-left {
  display: flex;
  width: 62%;
  gap: 10px;
  margin-right: 4%;
}

.update-btn,
.cancel-btn {
  display: flex;
  padding: 1.5% 4%;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.delete-acc-btn {
  display: flex;
  color: rgba(255, 50, 50, 0.8);
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.7% 2%;
  border: rgba(0, 0, 0, 0.2) 0.75px solid;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

.settingsMiddle-extra {
  display: flex;
  width: 24%;
  height: 100%;
  background: rgb(231, 241, 251);
  background: linear-gradient(
    90deg,
    rgba(231, 241, 251, 0.8) 35%,
    rgba(255, 255, 255, 0.8) 100%
  );
  position: fixed;
  right: -24%;
  z-index: 1;
  transition: all 0.6s ease;
}

.Add-Event-modal,
.ae-overlay {
  display: flex;
  position: fixed;
  /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
  width: 83.5%;
  height: 90.5vh;
}

.ae-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
}

.modal-container {
  position: relative;
  left: 20%;
  top: 15%;
  width: 35%;
  height: 65%;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  transition: all 0.45s ease;
}

.ae-modal-content {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  height: 100%;
}

.addTitle {
  width: 100%;
  border: none;
  border-bottom: rgba(0, 0, 0, 0.39) solid 1px;
  border-radius: 1px;
  outline: none;
}

.time-div {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  outline: none;
}

#eventdate {
  width: 33%;
  outline: none;
  border: none;
  cursor: pointer;
}

#def-date {
  display: flex;
  position: absolute;
  z-index: 3;
  left: 17%;
  padding: 0 1% 0 1.5%;
  font-size: 14px;
  background-color: #ffffff;
}

.starttime-input,
.endtime-input {
  /* width: 20.8%; */
  border: none;
  outline: none;
  cursor: pointer;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  /* Hide the picker */
  opacity: 0;
  /* color: #00a9ff; */
}

.checkbox-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#check-i {
  cursor: pointer;
}

.checkbox-span {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.select-event {
  display: flex;
  align-items: center;
  padding: 2.5%;
  margin-left: 10%;
  background-color: rgba(0, 0, 0, 0.075);
  outline: none;
  border: none;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.add-course,
.add-noti {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  height: 10%;
  width: 100%;
}

.add-course-span {
  font-size: 14px;
  color: white;
  background-color: #00a9ff;
  padding: 2%;
  border-radius: 2px;
  cursor: pointer;
}

.add-noti-span {
  font-size: 14px;
  padding: 2%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.075);
  color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
}

.save-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.save-btn button {
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: #00a9ff;
  padding: 2% 7%;
  color: white;
  cursor: pointer;
}

.addTitle:placeholder-shown {
  font-size: 18px;
}

.del-overlay,
.right-container-del {
  display: flex;
  position: fixed;
  /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
  width: 83.5%;
  height: 100vh;
}

.del-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.del-container {
  position: relative;
  left: 30%;
  top: 31%;
  width: 30%;
  height: 30%;
  z-index: 10;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  transition: all 0.45s ease;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.del-content {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  height: 100%;
}

.dc-span {
  display: flex;
  font-size: 20px;
}

.dc-input {
  background-color: rgba(0, 0, 0, 0.05);
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 1% 4%;
  width: 92%;
  height: 18%;
  
}
.dc-invalid{
  display: flex;
  visibility: hidden;
  position: absolute;
  top:60%;
  left:12%;
  font-size: 0.7rem;
    color: red;
}

.dc-btns{
  display: flex;
  width: 100%;
  justify-content:flex-end;
  height: 16%;
  gap:10px
}

.del-btn{
  border: none;
  outline: none;
  width: 30%;
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}


.update-pop{
  position: relative;
  top: 82%;
  width: 10%;
  height: 6%;
  z-index: 10;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.45s ease;
  overflow: hidden;
}

.update-container{
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 17px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #dfdfdf9a;
}

