.profileRight-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.profileRight-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 11%;
  height: 90.5vh;
}

.profileRight-left img {
  cursor: pointer;
  transition: rotate 0.6s ease;
}

.profileRight-right {
  display: flex;
  flex-direction: column;
  width: 88%;
  height: 90.5vh;
}

.icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  /* align-items: center; */
  width: 90%;
  overflow: hidden;
  padding-top: 10%;
}

.S-icon-btn,
.A-icon-btn,
.N-icon-btn {
  border: rgba(0, 0, 0, 0.411) solid 1px;
  color: rgba(0, 0, 0, 0.808);
  padding: 2%;
  border-radius: 20px;
  cursor: pointer;
}

.s-bar-sIcon {
  padding: 2%;
  border: none;
  color: #00a9ff;
  border-radius: 0%;
  transform: translate(140%) !important;
  transition: all 0.6s ease;
  cursor: pointer;
  z-index: 2;
}

.s-bar-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3% 2%;
  border: #00a9ff solid 1px;
  border-radius: 8px;
  outline: none;
  background-color: #fbfcfe;
  color: #00a9ff;
  /* transform: translateX(-5%); */
  z-index: 1;
}

.s-bar-input::placeholder {
  color: #00a9ff;
  font-size: 15px;
}

.calender-div {
  display: flex;
  border: rgba(0, 0, 0, 0.171) 1px solid;
  border-radius: 20px;
  height: 40%;
  width: 80%;
  padding: 5%;
  background-color: white;
  overflow: hidden;
  transition: all 0.6s ease;
}

.modi-calender-div {
  display: none;
  height: 0%;
  width: 0%;
  padding: 0%;
  overflow: hidden;
  border: none;
}

.schedule-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 5%;
}

.schedule-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.schedule-span {
  display: flex;
  font-size: 18px;
}

.s-arrow {
  display: block;
  rotate: 180deg;
  margin-right: 10px;
  cursor: pointer;
}

.schedule-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 88%;
  border-radius: 15px;
  gap: 20px;
  padding: 4% 2% 4% 3%;
}

.schedule-item {
  background: linear-gradient(
    90deg,
    rgba(99, 180, 184, 1) 35%,
    rgba(213, 247, 249, 1) 100%
  );
}

.topic-icon1 {
  display: flex;
  align-items: center;
  height: 50%;
  width: 6%;
  padding: 3%;
  border-radius: 20px;
  background-color: #e7f1fb;
  mix-blend-mode: multiply;
  /* background-color: #e7f1fb9d; */
}

.topic-icon2 {
  display: flex;
  align-items: center;
  height: 45%;
  width: 6%;
  padding: 3%;
  border-radius: 20px;
  background-color: #e7f1fb;
  mix-blend-mode: multiply;
}

.schedule-detail {
  display: flex;
  flex-direction: column;
  margin-right: 12%;
}

.s-name,
.s-time {
  font-size: 12px;
}

.s-time {
  color: rgba(0, 0, 0, 0.5);
}

.arrow {
  display: flex;
  height: 25px;
  width: 25px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ffffff;
}

.more-schedule {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5% 17.8%;
  overflow: hidden;
}

.m-schedule-span {
  font-size: 13px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.85);
}

.ms-arrow {
  cursor: pointer;
}
