.cardContainer {
  width: 286px;
  height: 246px;
  display: flex;
  margin-left: 2.5px;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgba(231, 241, 251, 1);
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 5px -2.5px rgba(231, 241, 251, 1);
  -moz-box-shadow: 0px 5px 5px -2.5px rgba(231, 241, 251, 1);
  box-shadow: 0px 5px 5px -2.5px rgba(231, 241, 251, 1);
}

.cardContainer img {
  width: 286px;
  height: 174px;
  object-fit: cover;
}

#cardName {
  max-width: 50%;
  display: inline-block;
  font-size: 10px;
  padding: 5px;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 1);
  position: relative;
}

.cardDescription {
  width: 99.3%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#cap {
  width: 90%;
  font-size: 15px;
  font-weight: 500;
  color: rgba(36, 36, 36, 1);
}

#dest {
  width: 100%;
  padding-left: 15px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}

.cardContainer:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.01);
}
