.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 10px;
    height: 5%;
    border-bottom: 2px solid rgba(217, 217, 217, 0.773);
    -webkit-box-shadow: 0px 1px 4px 1px rgba(0, 169, 255, 0.2);
    -moz-box-shadow: 0px 1px 4px 1px rgba(0, 169, 255, 0.2);
    box-shadow: 0px 1px 4px 1px rgba(0, 169, 255, 0.2);
    position: relative;
    top: 0;
    z-index: 2;
}

.navbar .profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #009AFF;
}