.message{
    max-width: 65%;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 3px;
    position: relative;
}
.message-top{
    display: flex;
    flex-direction: column;
}
.msg-bot{
    display: flex;
    align-items: center;
}
.message-text{
    padding: 10px;
    border-radius: 10px;
}
.message-details{
    color: rgba(0, 0, 0, 0.7);
    padding: 0 10px 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.moreIcon{
    right: -20px;
    color: #D9D9D9;
    cursor: pointer;
}
.message-name{
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}