.main-image-div{
    width: 100%; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    overflow: hidden; /* Prevent image overflow */
    position: relative;    
    
}
.main-image{
  
    object-fit: contain;
    width: 100%; /* Make the image fill the width of its container */
    height: auto; /* Maintain aspect ratio */
    position: absolute; 
    top: 75px; 
    left: 0; 


}