
.button-container{
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    margin-top:45px;
    align-items: center;
    text-decoration: none;
}
.button{
background-color: #00A9FF;
width: 15%;
height: 100%;
border: none;
border-radius: 112px;
font-size: 22px;
color: #ffffff;
cursor: pointer;
position: relative;
z-index: 3;
transition: all .3s
}
.button:hover{
    transform: scale(1.03);
}
.button:active{
    transform: scale(.98);
}

