.top-cardContainer {
  width: 227px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgba(231, 241, 251, 1);
  overflow: hidden;
  margin-bottom: 2%;
  margin-right: 1%;
  padding-bottom: 1%;
  -webkit-box-shadow: 0px 5px 5px -2.5px rgba(231, 241, 251, 1);
  -moz-box-shadow: 0px 5px 5px -2.5px rgba(231, 241, 251, 1);
  box-shadow: 0px 5px 5px -2.5px rgba(231, 241, 251, 1);
}

.top-cardContainer img {
  width: 226.19px;
  height: 192px;
  object-fit: cover;
}

#top-cardName {
  max-width: 50%;
  display: inline-block;
  font-size: 10px;
  padding: 5px;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 1);
  position: relative;
}

.top-cardDescription {
  width: 99.3%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#top-cap {
  width: 70%;
  padding-left: 15px;
  font-size: 15px;
  font-weight: 500;
  color: rgba(36, 36, 36, 1);
}

#top-dest {
  width: 70%;
  padding-left: 15px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}

.top-cardContainer:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.01);
}
