.slider2ContainerParent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#courseCap {
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  font-weight: 500;
  margin: 0 0 40px 124.5px;
}

.slider2Container {
  height: 346px;
  width: 83.5%;
  overflow: hidden;
  margin: 0 auto 100px;
}

.slider2Wrapper {
  width: 300vw;
  height: 100%;
  display: flex;
  scrollbar-width: none;
  transition: transform 0.5s ease;
}

.topicWrapper3 {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content:first baseline;
  gap: 38.5px;
}

.cp2-prevSlideButton,
.cp2-nextSlideButton {
  position: absolute;
  top: 37%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 1px 2px 1px;
  background-color: #002f47;
  border: none;
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
}

.cp2-prevSlideButton {
  left: 7.3%;
}

.cp2-nextSlideButton {
  right: 7.3%;
}

.cp2-prevSlideButton:hover,
.cp2-nextSlideButton:hover {
  background-color: #006ea4;
}
