
.createNote {
    display: flex;
    flex-direction: column;
    width: 8%;
    height: 30%;
    border: 1px dashed rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .createNote span {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
  }
  