.searchWidth {
    width: 700px;
    background-color: white;
  }
  
  .coursepage-text {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 126px;
    margin-top: 40px;
  }
  
  #c-text1 {
    font-size: 45px;
    font-weight: 500;
    color: #000000;
  }
  
  #c-text2 {
    font-size: 20px;
    font-weight: 500;
    color: #00000067;
  }
  