/* Basic editor styles */
.tiptap-container {
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    overflow-y: auto; 
    background-color: white;
    position: relative;
    overflow-x: hidden;
  }
  
  .tiptap {
    width: 95%;
    min-height: 100vh;
    border: none;
    outline: none;
    padding: 30px 0;
    margin: 0 auto 10px;
    background-color: white;
    position: absolute;
    top: -740px;
  }

.tiptap {
    > * + * {
      margin-top: 0.75em;
    }
  
    ul,
    ol {
      padding: 0 1rem;
    }

    p{
      line-height: 0.6;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 0.6;
      font-weight: 400;
    }

    h3{
      font-size: 16px;
    }

    pre {
      background: #0D0D0D;
      color: #FFF;
      font-family: 'JetBrainsMono', monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
    }
  
    img {
      max-width: 40%;
      height: auto;
      object-fit: contain;
    }

  }

.bold-text{
    font-weight: 700;
}

.underline-text{
    text-decoration: underline;
}

.link-text{
    color: #0037ff;
}
