.notesLeft-container {
  display: flex;
  justify-content: center;
  height: 90.5vh;
  width: 16.5%;
  background-color: white;
}

.all-div {
  display: flex;
  align-items: center;
  margin: 17% 0;
  flex-direction: column;
  width: 90%;
  gap: 10px;
}

.notes-div {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.topic-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  /* height: 4.4%; */
  transition: all 0.35s ease;
}

.archive-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  /* height: 4.2%; */
  transition: all 0.35s ease;
}

.trash-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  transition: all 0.35s ease;
}

.topics-div,
.archive-div,
.trash-div {
  display: flex;
  align-items: center;
  width: 100%;
}

.a-folder,
.a-notes,
.t-folder,
.t-notes {
  margin-left: 24%;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
  cursor: pointer;
  padding: 5px;
  font-size: 13px;
}

.a-folder:hover,
.a-notes:hover,
.t-folder:hover,
.t-notes:hover {
  background-color: #f5f8ff;
}

.dropbtn,
.a-dropbtn,
.trash-dropbtn {
  height: 10px;
  width: 12px;
  cursor: pointer;
}

.notes-span {
  display: flex;
  /* height: 100%; */
  font-size: 15px;
  cursor: pointer;
}

.topics-span {
  margin-right: 51%;
  margin-left: 5%;
  font-size: 15px;
  cursor: pointer;
}

.archive-span {
  margin-right: 46.5%;
  margin-left: 5%;
  font-size: 15px;
  cursor: pointer;
}

.trash-span {
  margin-right: 53.5%;
  margin-left: 5%;
  font-size: 15px;
  cursor: pointer;
}

.topics-list,
.archive-list,
.trash-list {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
}

.Bio-topics,
.Phy-topics,
.Chem-topics,
.IT-topics,
.Cloud-topics {
  margin-left: 24%;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
  cursor: pointer;
  padding: 5px;
  font-size: 13px;
}

.Math-topics {
  margin-left: 24%;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
  cursor: pointer;
  padding: 5px;
  height: 10%;
  font-size: 13px;
}

.Bio-topics img,
.Phy-topics img,
.Chem-topics img,
.IT-topics img,
.Cloud-topics img {
  height: 100%;
  width: 10%;
  /* height: 20px;
    width: 20px; */
}

.Math-topics img {
  height: 100%;
  width: 10%;
}

.Bio-topics:hover,
.Phy-topics:hover,
.Chem-topics:hover,
.Math-topics:hover,
.IT-topics:hover,
.Cloud-topics:hover {
  background-color: #f5f8ff;
}
