.select-folder-backdrop {
  width: 83.5%;
  height: 92.3vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  z-index: 3;
}

.select-folder {
  width: 30%;
  height: 55%;
  background-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  overflow: hidden;
}

.select-folder h2 {
  margin: 20px 20px 20px 20px;
}

.select-folder h3 {
  width: 90%;
  margin: 10px 20px 10px 20px;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.216);
}

.select-folder-dropdown {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  overflow-y: scroll;
}

.select-dropdown-content {
  width: 80%;
  display: flex;
  align-items: center;
  padding: 5px;
}

.selected {
  background-color: rgba(219, 229, 255, 0.704);
}

.select-dropdown-content:hover {
  background-color: rgba(219, 229, 255, 0.704);
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}

.select-folder-buttons {
  width: 83.5%;
  margin: 0 0 50px 41px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.select-folder-buttons button {
  padding: 7px;
  border: 2px solid transparent;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  background-color: inherit;
  cursor: pointer;
}

#move {
  color: #00a9ff;
}

#move:hover {
  border: 2px solid #00a9ff;
}

#cancel:hover {
  border: 2px solid rgba(0, 0, 0, 0.8);
}
