
.features-div{
    width: 100%; /* 100% of the viewport width */
    height: 200vi; /* 100% of the viewport height */
    overflow: hidden; /* Prevent image overflow */
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}



.best-courses{
    object-fit: contain;
    width: 80%; /* Make the image fill the width of its container */
    height: auto; /* Maintain aspect ratio */
    /* position: absolute; 
    left: 150px;
    top: 75px; */
}

.chatroom-1{
    object-fit: contain;
    width: 80%; /* Make the image fill the width of its container */
    height: auto; /* Maintain aspect ratio */
    display: flex;
    /* position: absolute;  
    left: 150px;
    top:550px; */
    
}

.note-taking{
    object-fit: contain;
    width: 80%; /* Make the image fill the width of its container */
    height: auto; /* Maintain aspect ratio */
    display: flex;
    /* position: absolute; 
    left: 150px;
    top:1000px; */
    
}

.chatroom-2{
    object-fit: contain;
    width: 80%; /* Make the image fill the width of its container */
    height: auto; /* Maintain aspect ratio */
    display: flex;
    /* position: absolute;
    left: 150px;
    top:1600px; */
   
}

.community-features{
    object-fit: contain;
    width: 80%; /* Make the image fill the width of its container */
    height: auto; /* Maintain aspect ratio */
    display: flex;
    /* position: absolute; 
    left: 150px;
    top:2050px; */
    
}

.file-sharing{
    object-fit: contain;
    width: 80%; /* Make the image fill the width of its container */
    height: auto; /* Maintain aspect ratio */
    display: flex;
    /* position: absolute;  
    left: 150px;
    top:2500px;
    */
}